.container {
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  /* Base styles */
}

.title {
  font-size: 1.5rem;
  font-weight: 1000;
  margin-bottom: 0.75rem;
  text-align: center;
  padding-left: 2.3rem;
}

.chatList {
  margin: 1rem;
  width: 62vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Two equal columns */
  gap: 0.5rem;
  /* Set a fixed height for scrolling */
  overflow-y: auto;
  /* Enable vertical scrolling */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.chatList::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.chatCard {
  padding: 1rem !important;
  margin-block: 0.5rem !important;
  margin-inline: 1.5rem !important;
  width: 60vw !important;
  cursor: pointer !important;
  border-radius: 1rem !important;
  transition: background-color 0.2s ease-in-out;
  white-space: normal;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.chatCard:hover {
  background-color: rgb(249, 250, 251);
}

.chatTitle {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.25rem;
}

.chatPreview {
  font-size: 0.875rem;
  color: rgb(107, 114, 128);
  white-space: normal;
  word-break: break-word;
  /* optional for better wrapping */
}