.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 16rem;
    height: 100vh;
    background-color: #f9fafb;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    transition: width 0.3s ease;
    z-index: 20;
}

.navbar.collapsed {
    width: 0px;
    background-color: transparent;
}

.sectionItems {
    display: flex;
    flex-direction: row;
    text-overflow: ellipsis;
    gap: 0.5rem;
}

.sectionItemText {
    display: flex;
    width: 11rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: flex-start;
    min-width: 0;
    flex-shrink: 1;
}