.actionCard {
  /* Add your styles for the AddDocumentsCard here */
  margin: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 8vh !important;
  width: 30vw !important;
  border-radius: 20px !important;
  overflow: hidden !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  padding: 0.5rem;
  cursor: pointer !important;
  transition: transform 0.2s ease-in-out !important;
}

.actionContent {
  display: flex;
  align-items: center;
  display: flex !important;
  flex: 3 1 !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  text-align: left;
  padding: 0.5rem;
  width: 30vw !important;
}

.actionInfo {
  flex: 1;
  display: flex !important;
  flex-direction: column !important;
}

.actionTitle {
  font-size: 1.5rem;
  font-weight: bold;
  font-size: calc(0.5rem + 0.45vw) !important;
  font-weight: 500 !important;
  margin-bottom: 0.25rem !important;
}

.actionDescription {
  font-size: 1rem;
  color: #666;
  font-size: calc(0.5rem + 0.25vw) !important;
  color: rgb(107 114 128) !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

.iconWrapper {
  display: flex;
  align-items: center;
  display: flex;
  width: 3vw !important;
  align-items: center;
}
