/* src/styles/chat/ChatInterface.module.css */

.chatContainer {
    display: flex;
    height: 92vh;
    width: 90vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.messagesList {
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 1.5rem;
    overflow-y: auto;
    max-height: 100vh;
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.messagesList::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}


.chatInput {
    margin-top: 16px;
}